html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans", sans-serif; }

.full-width {
  width: 100%;
  opacity: 0.9;
  height: 39rem;
  background-image: url("../img/apples.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  .full-width::after {
    position: absolute;
    content: "";
    z-index: -1;
    right: 0;
    bottom: 0;
    height: 624px;
    width: 100%;
    background-color: #343638;
    opacity: 0.2; }
  .full-width .header-top {
    padding: 2rem;
    font-weight: 300; }
    .full-width .header-top .header-top__brand-name {
      color: #FFF; }
      .full-width .header-top .header-top__brand-name span {
        text-transform: uppercase;
        letter-spacing: 0.17rem; }
    .full-width .header-top .header-top__menu {
      float: right;
      margin-top: -1rem; }
      .full-width .header-top .header-top__menu nav ul li {
        float: left; }
        .full-width .header-top .header-top__menu nav ul li a {
          color: #FFF;
          display: block;
          padding: 0 1.5rem; }
  .full-width .header-content {
    width: 100%; }
    .full-width .header-content .header-content-wrap {
      margin: 0 auto;
      width: 50%;
      padding: 13rem 0; }
      .full-width .header-content .header-content-wrap .header-content__brand-name {
        text-align: center; }
        .full-width .header-content .header-content-wrap .header-content__brand-name .title {
          color: #FFF;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2.4rem;
          letter-spacing: 0.5rem; }
          .full-width .header-content .header-content-wrap .header-content__brand-name .title span {
            font-size: 4rem;
            font-weight: 400; }
        .full-width .header-content .header-content-wrap .header-content__brand-name .description {
          text-align: center;
          padding: 1rem 0;
          color: #FFF;
          font-size: 0.7rem; }
      .full-width .header-content .header-content-wrap .header-content__button {
        margin: 7.5rem auto;
        width: 52%;
        text-align: center; }
        .full-width .header-content .header-content-wrap .header-content__button .show-more {
          padding: 0.8rem 4.3rem;
          border: 2px solid #FFF;
          outline: none;
          background-color: rgba(0, 0, 0, 0.5);
          color: white; }

.main-top {
  display: grid;
  grid-template-columns: 51% 49%;
  height: 271px;
  align-content: center; }
  .main-top .main-top__right {
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 4rem 0 3rem; }
    .main-top .main-top__right p span {
      font-weight: bold; }
  .main-top .main-top__left {
    font-size: 0.92rem;
    padding-right: 4rem; }

.section {
  background: #F0F0F0; }
  .section .main-content .main-content__title {
    text-align: center;
    padding: 7rem 0 4rem 0; }
    .section .main-content .main-content__title p {
      font-weight: 500;
      font-size: 1.35rem; }
      .section .main-content .main-content__title p span {
        font-weight: bold; }
  .section .main-content__articles {
    padding: 0 3rem 3rem 3rem; }
    .section .main-content__articles .image-first {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      margin-bottom: 1rem; }
      .section .main-content__articles .image-first .article-image {
        position: relative; }
        .section .main-content__articles .image-first .article-image .image img {
          width: 98%;
          object-fit: cover;
          height: auto; }
        .section .main-content__articles .image-first .article-image .favourite {
          position: absolute;
          top: 15px;
          right: 30px;
          z-index: 2;
          border: 2px solid #FFF;
          padding: 0.3rem 0.5rem;
          background: #676565; }
          .section .main-content__articles .image-first .article-image .favourite span {
            font-size: 1rem;
            color: #FFF; }
          .section .main-content__articles .image-first .article-image .favourite i {
            font-size: 0.7rem;
            color: #FFF;
            margin-top: 0.3rem; }
        .section .main-content__articles .image-first .article-image .text {
          position: absolute;
          z-index: 1;
          left: 17px;
          bottom: 17px; }
          .section .main-content__articles .image-first .article-image .text p {
            color: #FFF; }
            .section .main-content__articles .image-first .article-image .text p span {
              font-weight: bold; }
      .section .main-content__articles .image-first .article-description {
        text-align: center;
        width: 100%; }
        .section .main-content__articles .image-first .article-description p {
          font-size: 0.87rem;
          line-height: 1.1rem; }
    .section .main-content__articles .text-first {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      margin-bottom: 1rem; }
      .section .main-content__articles .text-first .article-description {
        text-align: center;
        width: 100%; }
        .section .main-content__articles .text-first .article-description p {
          font-size: 0.87rem;
          line-height: 1.1rem; }
      .section .main-content__articles .text-first .article-image {
        position: relative; }
        .section .main-content__articles .text-first .article-image .image {
          padding-left: 1rem; }
          .section .main-content__articles .text-first .article-image .image img {
            width: 100%;
            object-fit: cover;
            height: auto; }
        .section .main-content__articles .text-first .article-image .favourite {
          position: absolute;
          top: 15px;
          right: 15px;
          z-index: 2;
          border: 2px solid #FFF;
          padding: 0.3rem 0.5rem;
          background: #676565; }
          .section .main-content__articles .text-first .article-image .favourite span {
            font-size: 1rem;
            color: #FFF; }
          .section .main-content__articles .text-first .article-image .favourite i {
            font-size: 0.7rem;
            color: #FFF;
            margin-top: 0.3rem; }
        .section .main-content__articles .text-first .article-image .text {
          position: absolute;
          z-index: 1;
          left: 40px;
          bottom: 17px; }
          .section .main-content__articles .text-first .article-image .text p {
            color: #FFF; }
            .section .main-content__articles .text-first .article-image .text p span {
              font-weight: bold; }
    .section .main-content__articles .subscribe {
      background-color: #FFF;
      padding: 2.5rem 1.4rem 1.7rem 1.4rem;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1.2fr 3fr; }
      .section .main-content__articles .subscribe .subscribe-text p {
        font-size: 1.3rem; }
        @media screen and (min-width: 900px) {
          .section .main-content__articles .subscribe .subscribe-text p {
            font-size: 1rem; } }
        @media screen and (min-width: 950px) {
          .section .main-content__articles .subscribe .subscribe-text p {
            font-size: 1.05rem; } }
        @media screen and (min-width: 1000px) {
          .section .main-content__articles .subscribe .subscribe-text p {
            font-size: 1.1rem; } }
        @media screen and (min-width: 1050px) {
          .section .main-content__articles .subscribe .subscribe-text p {
            font-size: 1.2rem; } }
        @media screen and (min-width: 1100px) {
          .section .main-content__articles .subscribe .subscribe-text p {
            font-size: 1.25rem; } }
        @media screen and (min-width: 1300px) {
          .section .main-content__articles .subscribe .subscribe-text p {
            font-size: 1.3rem; } }
        .section .main-content__articles .subscribe .subscribe-text p span {
          font-weight: bold; }
      .section .main-content__articles .subscribe .subscribe-input {
        display: grid;
        grid-template-columns: 9fr 1fr; }
        .section .main-content__articles .subscribe .subscribe-input .input {
          padding: 1rem;
          border: 1px solid #343638;
          border-right: none;
          margin-top: -0.6rem;
          height: 1rem;
          background: #F0F0F0; }
          .section .main-content__articles .subscribe .subscribe-input .input input {
            outline: none;
            border: none;
            font-size: 0.9rem;
            background: #F0F0F0; }
        .section .main-content__articles .subscribe .subscribe-input .input-button {
          margin-top: -0.6rem; }
          .section .main-content__articles .subscribe .subscribe-input .input-button button {
            outline: none;
            border: 1px solid #000;
            background: #343638;
            padding: 1rem;
            color: #F0F0F0;
            font-size: 0.9rem; }

footer {
  padding: 8rem 3rem 4rem 3rem; }
  footer .footer-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
    border-bottom: 2px solid #F0F0F0; }
    footer .footer-info .footer-content {
      margin-bottom: 7.5rem; }
      footer .footer-info .footer-content .footer-content__title {
        font-weight: bold;
        margin-bottom: 1.2rem; }
      footer .footer-info .footer-content .footer-content__description {
        color: #A4A4A4;
        line-height: 1.6rem; }
        footer .footer-info .footer-content .footer-content__description .paragraph-italic {
          font-style: italic; }
      footer .footer-info .footer-content .footer-content__time {
        color: #F0F0F0;
        margin-top: 0.4rem; }
      footer .footer-info .footer-content ul li a {
        color: #A4A4A4; }
      footer .footer-info .footer-content .footer-content__subscibe {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        footer .footer-info .footer-content .footer-content__subscibe .input {
          padding: 0.8rem 1rem;
          border: 1px solid #343638;
          border-right: none;
          height: 1rem;
          background: #F0F0F0; }
          footer .footer-info .footer-content .footer-content__subscibe .input input {
            outline: none;
            border: none;
            font-size: 0.9rem;
            background: #F0F0F0; }
        footer .footer-info .footer-content .footer-content__subscibe .input-button button {
          outline: none;
          border: 1px solid #000;
          background: #343638;
          padding: 0.73rem 1rem;
          color: #F0F0F0;
          font-size: 1rem; }
  footer .footer-bottom {
    margin-top: 1.5rem; }
    footer .footer-bottom__company {
      color: #A4A4A4;
      float: left; }
    footer .footer-bottom__menu {
      padding-left: 2rem;
      float: right; }
      footer .footer-bottom__menu ul li {
        float: left; }
        footer .footer-bottom__menu ul li a {
          color: #000;
          display: block;
          padding: 0 1rem; }
          footer .footer-bottom__menu ul li a.last {
            padding-right: 0; }

/*# sourceMappingURL=style.css.map */
