$header-background: url('../img/m-h-day.jpg');

$hind-font: 'Hind', sans-serif;
$source-font: 'Source Sans Pro', sans-serif;
$fresca-font: 'Fresca', sans-serif;

$font-color: #2c2f3c;
$colorHighLight: #14a0c7;
$button-color: #699900;
$colorGrey: #c0c3ce;
$card-background-color: #21232e;
$body-background-color: white;
$color-linear-left: #669607;
$color-liner-right: #2c5ad9;


$container: 1140px;
$full-width: 100%;



