$header-background: url('../img/m-h-night.jpg');

$hind-font: 'Hind', sans-serif;
$source-font: 'Source Sans Pro', sans-serif;
$fresca-font: 'Fresca', sans-serif;

$colorHighLight: #ff4e33;
$button-color: #e3ac00;
$font-color: white;
$colorGrey: #c0c3ce;
$card-background-color: #3b3f50;
$body-background-color: #21232e;
$color-linear-left: #e1a902;
$color-liner-right: #922c52;

$container: 1140px;
$full-width: 100%;